[Unit]
Description=uWSGI Environment for FOLDERNAME
After=network.target

[Service]
ExecStart=/opt/FOLDERNAME/ENV/bin/gunicorn --bind unix:FOLDERNAME.sock app:app 
WorkingDirectory=/opt/FOLDERNAME
User=www-data
Group=www-data
Restart=always

# Harden the service
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target